.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fa-sign-out{
  background-color: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


button{
height: 40px;
width: 100px;
border-radius: 10px;
color: white;
font-weight: 600;
background-color: #e85533;
border: 4px solid #f2974e;
}

.disconnect{
  background-color: none;
  height: 30px;
  margin-left: 20px;
  width: 20px;
  border-radius: 5px;
  border: none;
}

input, select{
  border-radius: 10px;
  height: 30px;
}

.App-header {
  background-color: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container > div > label{
  display: flex;
  justify-content: space-between;
}

.button-space{
  text-align: center;
}